/*General*/

.weakness-arrow,
.type-arrow,
.gender-arrow,
.category-arrow,
.abilities-arrow,
.add-one-more-form-button:hover{
    cursor: pointer;
}

.container{
    width: 37.5rem;
    height: 56rem;
    margin: 0 auto;
}

.inner-wrapper{
    background-color: rgba(56, 51, 51, 0.19);
    height: 98%;
    display: flex;
    border-radius: 1.5rem;
}

.page{
    width: 95%;
    height: 54rem;
    background-color: rgba(171, 11, 11, 0.18);
    margin: auto;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
}

.primary{
    margin: 0 auto;
    width: 90%;
    border-radius: 1rem;
    background-color: rgba(217, 217, 217, 0.51);
    font-size: 1.5rem;
    font-family: Josefin Slab;
    border: 0.2rem solid rgba(0, 0, 0, 0.1);
    text-align: center;
}

.hiddenElement{
    position: relative;
    width: 0.1px;
    height: 0.1px;
    z-index: -1;
    opacity: 0;
    overflow: hidden;
    top: -10px;
}

form{
    text-align: center;
    height: 100%;
}

.title{
    height: 7%;
    margin: 2% auto 0;
    width: 60%;
}

.title input{
    width: 90%;
    height: 80%;
}

.main-image{
    width: 90%;
    margin: 2% auto 0;
    height: 7%;
}

.image-input, .main-image-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.label {
    width: 90%;
    height: 90%;
    text-align: center;
    cursor: pointer;
    display: block;
    transition: all 0.18s ease-in-out;
    font-size: 1.5rem;
    font-family: Josefin Slab;
    color: gray;
}

.label:hover {
    color: white;
    background: #333;
}

.description{
    width: 90%;
    margin: 2% auto 0;
    height: 6%;
}

.description input{
    width: 90%;
    height: 80%;
}

.weakness-type{
    display: flex;
    margin: 2% auto 0;
    width: 90%;
    height: 7%;
}

.weakness-inner-wrapper, .type-inner-wrapper{
    width: 50%;
    height: 90%;
}

.weakness, .type{
    display: flex;
    width: 90%;
    height: 90%;

}

.weakness-type p{
    margin: 0 auto;
    color: black;
}

.weakness-text, .type-text{
    margin-top: 6%;
    margin-left: 5%;
    width: 60%;
}

.weakness-arrow, .type-arrow{
    margin-left: 20%;
    height: 30%;
    width: 8%;
    margin-top: 6%;
}

/*Weakness dropdown section*/

.weakness-dropdown, .type-dropdown{
    position: relative;
    display: none;
    margin-left: 1%;
    width: 70%;
    margin-left: 7%;
}

.weakness-drop-el, .type-drop-el, .gender-drop-el, .category-drop-el, .abilities-drop-el{
    border-radius: 0.5rem;
    border: 0.1rem solid black;
    font-size: 1.5rem;
}

.weakness-drop-el:hover,
.type-drop-el:hover,
.gender-drop-el:hover,
.category-drop-el:hover,
.abilities-drop-el:hover{
    background-color: rgba(198, 166, 186, 100%);
    cursor: pointer;
}

.weakness-chosen,
.type-chosen,
.gender-chosen,
.category-chosen,
.abilities-chosen{
    background-color: rgba(119, 83, 190, 100%);
}

.weakness-not-chosen,
.type-not-chosen,
.gender-not-chosen,
.category-not-chosen,
.abilities-not-chosen{
    background-color: rgb(217, 217, 217, 100%);
}

.evolution-forms{
    width: 90%;
    margin: 2% auto 0;
    height: 20%;
}

.evolution-form-inner-wrapper{
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.evolution-form-wrapper{
    height: 100%;
}

.evolution-form{
    width: 60%;
    height: 100%;
    margin: 0 auto;
}

.double-evolution-form{
    display: flex;
    width: 100%;
    height: 78%;
}

.remove-evolution-form{
    margin-top: 1%;
    height: 1.8rem;
    align-items: center;
    align-content: center;
}

.remove-evolution-form:hover{
    cursor: pointer;
}

.evolution-form-name{
    width: 90%;
    height: 90%;
}

.evolution-form-title{
    height: 33%;
}

.evolution-form-picture{
    height: 33%;
    width: 80%;
}

.evolution-form-picture{
    margin: 4% auto;
}

.evolution-forms p{
    margin-top: 4%;
}

.add-one-more-form-button{
    margin: 0.5% auto;
    height: 1.8rem;
    width: 2rem;
}

.parameters{
    display: flex;
    width: 90%;
    margin: 1% auto 0;
    height: 17%;
}

.parameter-left-side, .parameter-right-side{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.parameters input{
    height: 25%;
}

.gender-inner-wrapper, .category-inner-wrapper, .abilities-inner-wrapper{
    width: 90%;
    height: 30%;
}
.gender, .category, .abilities{
    display: flex;
    height: 90%;
    width: 100%;
    /*margin-top: 2%;*/
}

.gender-text, .category-text, .abilities-text{
    width: 50%;
    margin-left: 20%;
    margin-top: 2%;
}

.gender-arrow, .category-arrow, .abilities-arrow{
    margin-left: 15%;
    height: 40%;
    width: 6%;
    margin-top: 5%;
}

.parameters p{
    margin: 5% auto;
}

/*gender dropdown*/
.gender-dropdown, .category-dropdown, .abilities-dropdown{
    position: relative;
    display: none;
    margin-left: 1%;
    width: 70%;
}

.attributes{
    height: 23%;
    margin: 1% auto;
    display: flex;
    width: 90%;
    font-size: 1rem;
    /*align-items: center;*/
    border: 0;
    background-color: rgba(171, 11, 11, 0);
    font-weight: 600;
}

.attribute-column{
    width: 13%;
    /*margin: 1% 0 0 5%;*/
    margin-left: 5%;
    height: 100%;
    /*text-align: center;*/
}

.attribute-name{
    height: 17%;
    width: 100%;
    /*margin-top: 10%;*/
}

.attribute-number{
    width: 100%;
    /*margin-top: 20%;*/
    height: 80%;
}

.hp{
    margin-left: 0;
}

.attribute-level{
    cursor: pointer;
    width: 100%;
    height: 5%;
    margin-top: 12%;
    border-radius: 30%;
    background-color: #D9D9D9;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.buttons{
    display: flex;
    margin: 0 auto;
    width: 90%;
}

.backToPokedex{
    margin-left: 10%;
    width: 15%;
    font-family: Josefin Slab;
    font-size: 1.3rem;
}

.submit-button{
    margin-right: 0%;
    float: right;
    margin-left: 60%;
}

.submit-form {
    width: 5.2rem;
    height: 1.6rem;
    background: rgba(217, 217, 217, 0.51);
    border: 1px solid #D49997;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 27px;
    cursor: pointer;
    padding-top: 0.2rem;
    font-family: Josefin Slab;
    font-size: 1.2rem;
}

.submit-form:hover{
    background-color: rgba(119, 83, 190, 100%);
    color: whitesmoke;
}